
@import './variables';

.GameCanvas {
    // Design everything with a nice em of 10px.
    font-size: $base-font-size;
    font-family: 'Rayman';

    // Create a 1024x576 pixel canvas.
    // If everything is defined in em's, you can resize
    // the whole game just by changing the font-size above
    // with javascript.
    position: absolute;
    left: 0;
    right: 0;
    width: 40em;// em(1024px);
    height: 70em;// em(576px);
    margin-left: auto;
    margin-right: auto;

    // Don't draw outside this box.
    overflow: hidden;

    // Some graphics
    background-image: resolve('images/rayman-background.png');
    background-size: cover;
    background-repeat: none;
}
