@import './fonts';
@import './player';
@import './coin';
@import './pipe';
@import './player';
@import './controls';
@import './ground';
@import './cloud';
@import './game-canvas';
@import './scoreboard';
@import './score';
@import './overlay';

body {
    background: black;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}